@import '~styles/main';

.person {
  display: flex;
  align-items: center;

  & + & {
    margin-top: @padding;
  }
}

.deletePerson {
  composes: base--button;
  background-color: transparent;
  color: @color__blue--light;
  box-shadow: none;

  &:hover {
    background-color: transparent;
    color: @color__blue--dark;
  }
  i {
    margin-right: 0;
  }
}

.input {
  composes: base--input;
  flex: 2;

  & + & {
    margin-left: @padding;
  }
}

.total {
  flex: 1;
  margin-left: @padding;
}
