@import '~styles/main';

.person {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: @padding;
  }
}

.deletePerson {
  composes: base--button;
  background-color: transparent;
  color: @color__blue--light;
  box-shadow: none;
  font-size: 100%;

  &:hover {
    background-color: transparent;
    color: @color__blue--dark;
  }
  i {
    margin-right: 0;
  }
}

.input {
  composes: base--input;
  flex: 2;

  & + & {
    margin-top: @padding / 2;
  }
}

.input--invalid {
  composes: input;
  border-bottom-color: @color__red;
}

.total {
  flex: 1;
  margin-top: @padding;
  text-align: right;
}

@media @md {
  .person {
    flex-direction: row;
    align-items: center;

    & + & {
      margin-top: @padding;
    }
  }

  .input {
    & + & {
      margin-top: 0;
      margin-left: @padding;
    }
  }

  .total {
    margin-left: @padding;
  }
}
