@import '~styles/main';

.persons {
  margin-bottom: @padding;
}

.help {
  margin-top: @padding / 2;
  font-size: 80%;
  opacity: 0.5;
  text-align: center;
}

.description {
  margin-bottom: @padding;
}

.input {
  composes: base--input;
  width: 100%;
}

.actions {
  margin-top: @padding;
  text-align: center;
}

.addPerson,
.shareExpenses,
.saveExpenses,
.deleteBill {
  composes: base--button;
  display: block;
  margin: auto;
  width: 100%;

  & + & {
    margin-top: @padding;
  }
}

.totals,
.payments {
  margin-top: @padding * 2;
  text-align: center;
}

.payment {
  text-align: center;
  & + & {
    margin-top: @padding;
  }
}

.to {
  background-color: @color__blue--light;
  color: @color__white;
  padding: @padding / 2;
  margin-top: @padding / 2;

  i {
    margin: 0 @padding;
  }
}

.target {
  & + & {
    margin-top: @padding / 2;
  }
}

.footer {
  text-align: center;
  padding-bottom: @padding;
}

.project {
  color: #000;
  text-decoration: none;

  i {
    margin-left: @padding / 2;
  }
}

@media @sm {
  .addPerson,
  .shareExpenses,
  .saveExpenses,
  .deleteBill {
    display: inline-block;
    width: auto;

    & + & {
      margin-left: @padding;
      margin-top: 0;
    }
  }
}

// Animations
.enter {
  animation: fadeInDown @duration--enter;
  opacity: 0.01;
}

.enter--active {
  opacity: 1;
  transition: all @duration--enter ease-in;
}

.leave {
  animation: fadeOutUp @duration--enter;
  opacity: 1;
}

.leave--active {
  opacity: 0.01;
  transition: opacity @duration--leave ease-out;
}
