@import '~styles/main';

.persons {
  margin-bottom: @padding;
}

.help {
  margin-top: @padding / 2;
  font-size: 80%;
  opacity: 0.5;
}

.actions {
  margin-top: @padding;
}

.addPerson {
  composes: base--button;
}

.shareExpenses {
  composes: base--button;
}

.payments {
  background: red;
}

// Animations
.enter {
  animation: fadeInDown @duration--enter;
  opacity: 0.01;
}

.enter--active {
  opacity: 1;
  transition: all @duration--enter ease-in;
}

.leave {
  animation: fadeOutUp @duration--enter;
  opacity: 1;
}

.leave--active {
  opacity: 0.01;
  transition: opacity @duration--leave ease-out;
}
