body {
    font-size: 17px;
}

.page-header {
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #2196F3;
    box-shadow: 0px 1px 3px #000;
    border-bottom: none;

    h1 {
        margin: 10px;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
    }
}

#wrapper { padding-top: 20px; }

#personList {
    .personList__person {
        .person__name,
        .person__paid {
            padding-left: 0;
            padding-right: 0;
        }

        .person__name { padding-right: 5px; }
        .person__paid { padding-left: 5px; }
        .btn-remove { vertical-align: text-top; }

        & + & { margin-top: 10px; }
    }
}

#paymentList {
    padding-bottom: 20px;

    .stats {
        margin-bottom: 20px;
    }

    .paymentList__payment {
        & + .paymentList__payment {
            margin-top: 20px;
        }

        div { padding: 0; }

        .paymentList__transactions {
            box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
            border-radius: 3px;
        }

        .transaction__amount {
            text-align: center;
        }

        i {
            margin-right: 10px;
        }
    }
}

#help {
    padding: 0;
    font-size: 70%;
    font-style: italic;
}

#buttons {
    padding: 0;
    margin: 20px 0;
    z-index: 1;

    button + button {
        margin-left: 10px;
    }
}